
<div class="row align-items-center" >
  <div class="col col-sm-6">
    <div class="container">
      <div class="card text-center">
        <h5>COLOCA LOS DATOS DE LA SERIE</h5>
      </div>
    </div>
    <div class="container ">
      <div class="card ">
        <div class="card-body px-5 ">
          <form #serieForm="ngForm" (ngSubmit)="editSerie(serie,serieForm)">
            <div class="form-control">

              <div class="mb-3">
                <label for="imagen" class="form-label" aria-describedby="imagen">URL Imagen Serie</label>
                <textarea class="input-group" [(ngModel)]="serie.imagen"
                          name="imagen" id="imagen"  required [value]="serie.imagen"></textarea>
              </div>
              <div class="mb-3">
                <label for="titulo">Titulo de la Serie</label>
                <input type="text"  [(ngModel)]="serie.titulo" name="titulo" id="titulo"
                       class="input-group" required [value]="serie.titulo">

              </div>
              <div class="mb-3">
                <label for="capitulos">Capitulos de la Serie</label>
                <input type="number" [(ngModel)]="serie.capitulos" name="capitulos"
                       id="capitulos"  class="input-group" required [value]="serie.capitulos">

              </div>
              <div class="mb-3">
                <label for="emision">Año de Emisión </label>
                <input type="number" [(ngModel)]="serie.emision" name="emision"
                       id="emision"  class="input-group" required [value]="serie.emision">
              </div>

              <div class="mb-3">
                <label for="sinopsis">Sinopsis de la Serie</label>
                <textarea id="sinopsis" class="input-group"
                          [(ngModel)]="serie.sinopsis" name="sinopsis"
                          required [value]="serie.sinopsis"></textarea>
              </div>
              <div class="mb-3">
                <label for="categorias">Selecciona Categoria de la Serie</label>
                <select class="input-group" [(ngModel)]="serie.categorias" name="categorias"
                        id="categorias" >
                  <option>{{serie?.categorias}}</option>
                  <option value="Acción">Acción</option>
                  <option value="Cómedia">Cómedia</option>
                  <option value="Terror">Terror</option>
                </select>
              </div>
              <div class="container d-flex ">
                <button class="btn me-4 mt-4 btn-outline-primary" type="submit"> Añadir</button>
                <button class="btn ms-4 mt-4 btn-outline-danger" type="reset">Limpiar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="col mt-5">
    <div class="container">
      <div class="card">
        <div class="card-body">
          <div class="form-control">
            <div>
              <img  class="rounded" width="350" height="300"    src="{{serie?.imagen}}" alt="IMAGEN SERIE" >
            </div>
            <div class="">
              <label for="titulo">Titulo</label>
              <input type="text" class="input-group" [(ngModel)]="serie.titulo" name="titulo"  readonly>
            </div>
            <div>
              <label for="capitulos">Capitulos</label>
              <input type="text" class="input-group" [(ngModel)]="serie.capitulos" name="capitulos" readonly>
            </div>
            <div>
              <label for="emision">Año de Emisión</label>
              <input type="text" class="input-group" [(ngModel)]="serie.emision" name="emision" readonly>
            </div>
            <div>
              <label for="sinopsis">Sinopsis</label>
              <textarea id="textarea" class="input-group "
                        readonly>{{serie?.sinopsis}}</textarea>
              <div>
                <label for="categorias">Categoria</label>
                <input type="text" class="input-group" [(ngModel)]="serie.categorias" name="categorias" readonly>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

