<div class="row align-items-center" >
  <div class="col col-sm-6">
    <div class="container">
      <div class="card text-center">
        <h5>COLOCA LOS DATOS DE LA SERIE</h5>
      </div>
    </div>
    <div class="container ">
      <div class="card ">
        <div class="card-body px-5 ">
          <form #serieForm="ngForm" (ngSubmit)="editSerie(serie,id,serieForm)">
            <div class="container">
              <div class="input-field">
                <label for="imagen">URL Imagen Serie</label>
                <textarea class="materialize-textarea validate" [(ngModel)]="serie.imagen"
                          name="imagen" id="imagen"  required></textarea>
              </div>
              <div class="input-field">
                <div class="input-field">

                </div>
                <label for="titulo">Titulo de la Serie</label>
                <input type="text" [(ngModel)]="serie.titulo" name="titulo" id="titulo"
                       class="validate" required>

              </div>
              <div class="input-field">
                <label for="capitulos">Capitulos de la Serie</label>
                <input type="number" [(ngModel)]="serie.capitulos" name="capitulos"
                       id="capitulos"  class="validate" required>

              </div>
              <div class="input-field">
                <label for="emision">Año de Emisión </label>
                <input type="number" [(ngModel)]="serie.emision" name="emision"
                       id="emision"  class="validate" required>
              </div>

              <div class="input-field">
                <label for="sinopsis">Sinopsis de la Serie</label>
                <textarea id="sinopsis" class="materialize-textarea validate"
                          [(ngModel)]="serie.sinopsis" name="sinopsis"
                          required></textarea>
              </div>
              <div>
                <label for="categorias">Selecciona Categoria de la Serie</label>
                <select class="custom-select" [(ngModel)]="serie.categorias" name="categorias"
                        id="categorias">
                  <option></option>
                  <option value="Acción">Acción</option>
                  <option value="Cómedia">Cómedia</option>
                  <option value="Terror">Terror</option>
                </select>
              </div>
              <div class="container d-flex ">
                <button class="btn me-4 mt-4" type="submit"> Editar</button>
                <button class="btn ms-4 mt-4" type="reset">Limpiar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="col mt-5">
    <div class="container">
      <div class="card">
        <div class="card-body">
          <div class="container">
            <div>
              <img class="rounded " width="350" height="300" src="{{serie?.imagen}}" alt="IMAGEN SERIE">
            </div>
            <div>
              <label for="titulo">Titulo</label>
              <input type="text" [(ngModel)]="serie.titulo" name="titulo" readonly>
            </div>
            <div>
              <label for="capitulos">Capitulos</label>
              <input type="text" [(ngModel)]="serie.capitulos" name="capitulos" readonly>
            </div>
            <div>
              <label for="emision">Año de Emisión</label>
              <input type="text" [(ngModel)]="serie.emision" name="emision" readonly>
            </div>
            <div>
              <label for="sinopsis">Sinopsis</label>
              <textarea id="textarea" class="materialize-textarea "
                        readonly>{{serie?.sinopsis}}</textarea>
              <div>
                <label for="categorias">Categoria</label>
                <input type="text" [(ngModel)]="serie.categorias" name="categorias" readonly>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



