<div class="container">
  <div class="row p-5">
    <div class="col col-sm-12 col-md-6">
      <div class="card">
        <div class="card-body px-5 ">
          <form #serieForm="ngForm" (ngSubmit)="editSerie(serieService.elegirSerie.id,serieForm)">
            <input type="hidden" name="_id" >
            <div class="form-group">
              <input  type="text" class="form-control" placeholder=""
                     name="titulo" [(ngModel)]="serieService.elegirSerie.titulo">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Capitulos Serie"
                     name="capitulos" [(ngModel)]="serieService.elegirSerie.capitulos">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="categoria"
                     name="categorias" [(ngModel)]="serieService.elegirSerie.categorias">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Emisión"
                     name="emision" [(ngModel)]="serieService.elegirSerie.emision">
            </div>
            <div class="form-group">
              <textarea type="text" class="form-control" placeholder="Sinopsis"
                        name="sinopsis" [(ngModel)]="serieService.elegirSerie.sinopsis"></textarea>
            </div>
            <div class="form-group">
              <textarea type="text" class="form-control" placeholder="URL foto"
                        name="imagen" [(ngModel)]="serieService.elegirSerie.imagen"></textarea>
            </div>
            <button type="submit" class="btn btn-primary btn-inline " >GUARDAR</button>
            <button type="reset" class="btn btn-danger btn-inline">LIMPIAR</button>
          </form>
        </div>
      </div>
    </div>

    <div class="col col-12 col-md-6" >
      <div class="card px-5">
        <img src="" class="rounded mt-3" >
        <div class="card-body" >
          <div class="alert alert-info" role="alert">
            <h5 class="card-title">TITULO:  </h5>
            <p class="card-text">CAPITULOS:  </p>
            <p class="card-text">CATEGORIA: </p>
            <p class="card-text">EMISION: </p>
            <p class="card-text">SINOPSIS: </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
