 <div class="row ">
      <div class="col col-3" *ngFor="let s of series ">
        <div class="card " >
          <div class="card-header bg-transparent ">
            <a class="nav-link"  [routerLink]="['/lista-series/serie/',s._id]">
              <div class="container">
                <div class="row">
                  <div class="col-md-12 py-3">
                    <h2 class="pb-2">Imagenes de la Serie</h2>
                    <ngb-carousel id="carousel">
                      <ng-template ngbSlide *ngFor="let image of s.imagen">
                        <img [src]="image" class="d-block w-100"  style="height: 300px ; width: 400px">
                        <div class="carousel-caption">
                          <h3>GALERIA DE FOTOS</h3>
                        </div>
                      </ng-template>
                    </ngb-carousel>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="card-body text-center" >
            <h5 class="card-title">TITILO : {{s._id}}</h5>
            <h5 class="card-title">TITILO : {{s.titulo}}</h5>
            <p class="card-text ">CATEGORIA : {{s.categorias}}</p>
            <p class="card-text">CAPITULOS : {{s.capitulos}}</p>
            <p class="card-text">EMISION : {{s.emision}}</p>
            <p class="card-text">SINOPSIS : {{s.sinopsis}}</p>
            <div class="container d-flex">
              <a class="nav-link "  [routerLink]="['/lista-series/editar/',s._id]" >
                <button class="btn btn-info ">EDITAR</button> </a>
              <a href="#" class="nav-link " (click)="deleteSerie(s._id)"><button class="btn btn-danger ">ELIMINAR</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>






