<div class="container">
  <div class="row ">
    <div class="col col-sm-7 col-md-5 col-lg-4 col-xl-4 p-4"  *ngFor="let i of [1,1,1,1,11,1,1,1,2]">
      <div class="card" style="width: 20rem;">
        <a href="lista-series/serie">
          <img src="assets/naruto.jpg" class="card-img-top" alt="...">
        </a>
        <div class="card-body" >
          <h5 class="card-title">titulo</h5>
          <p class="card-text">CATEGORIA</p>
          <p class="card-text">CAPITULOS</p>
          <p class="card-text">EMISION</p>
          <p class="card-text">SINOPSIS</p>
          <div class="container">
            <a href="lista-series/editar/:id" class="btn btn-info me-5">EDITAR</a>
            <a href="#" class="btn btn-danger">ELIMINAR</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





