
  <div class="row align-items-center">
    <div class="col ">

      <div class="container">
        <div class="card text-center">
          <h5>COLOCA LOS DATOS DE LA SERIE</h5>
        </div>
      </div>
      <div class="container ">
        <div class="card ">
          <div class="card-body px-5 ">
            <form #serieForm="ngForm" (ngSubmit)="createSerie(serieService.elegirSerie,serieForm)">
              <div class="container">
                <div class="input-field">
                  <input type="text" [(ngModel)]="serieService.elegirSerie.titulo" name="titulo" id="titulo"
                         placeholder="Titulo de la serie" class="validate" required>
                  <label for="titulo">Titulo</label>
                </div>
                <div class="input-field">
                  <input type="number" [(ngModel)]="serieService.elegirSerie.capitulos" name="capitulos"
                         id="capitulos" placeholder="Capitulos de la serie" class="validate" required>
                  <label for="capitulos">Capitulos</label>
                </div>

                <div class="input-field">
                  <label for="sinopsis">Sinopsis</label>
                  <textarea id="sinopsis" class="materialize-textarea validate"
                            [(ngModel)]="serieService.elegirSerie.sinopsis" name="sinopsis"
                            placeholder="Sinopsis de la serie" required></textarea>
                </div>
                <div class="input-field">
                  <label for="imagen">Imagen URL</label>
                  <textarea class="materialize-textarea validate" [(ngModel)]="serieService.elegirSerie.imagen"
                            name="imagen" id="imagen" placeholder="Imagen de la serie" required></textarea>
                </div>
                <div>
                  <label for="categorias">Selecciona Categoria</label>
                  <select class="custom-select" [(ngModel)]="serieService.elegirSerie.categorias" name="categorias"
                          id="categorias">
                    <option value="Acción">Acción</option>
                    <option value="Cómedia">Cómedia</option>
                    <option value="Terror">Terror</option>
                  </select>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col mt-5">
      <div class="container">
        <div class="card">
          <div class="card-body">
            <div class="container">
              <div>
                <img class="rounded " width="300" height="300"
                     src="{{serieService.elegirSerie.imagen}}">
              </div>
              <div>
                <label for="titulo">Titulo</label>
                <input type="text" [(ngModel)]="serieService.elegirSerie.titulo" name="titulo" readonly>
              </div>
              <div>
                <label for="capitulos">Capitulos</label>
                <input type="text" [(ngModel)]="serieService.elegirSerie.capitulos" name="capitulos" readonly>
              </div>
              <div>
                <label for="categorias">Categoria</label>
                <input type="text" [(ngModel)]="serieService.elegirSerie.categorias" name="categorias" readonly>
              </div>
              <div>
                <label for="sinopsis">Sinopsis</label>
                <textarea id="textarea" class="materialize-textarea "
                          readonly>{{serieService.elegirSerie.sinopsis}}</textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


