<div class="container ">
  <div class="row justify-content-md-center p-4">
    <div class="col">
        <div class="card border-primary text-center m-5 p-5" style="width: 50rem;"  >
         <div class="card-header bg-transparent border-primary">
           <h2 class="pb-2">Imagenes de la Serie</h2>
          <div class="card-body">
            <div class="container">
              <ngb-carousel class="carousel" >
                <ng-template ngbSlide *ngFor="let image of serie?.imagen">
                  <img [src]="image" class="d-block w-100" >
                  <div class="carousel-caption">
                    <h3>GALERIA DE FOTOS</h3>
                  </div>
                </ng-template>
              </ngb-carousel>
            </div>
            <h5 class="card-title">TITILO : {{serie?.titulo}} </h5>
            <p class="card-text">CATEGORIA : {{serie?.categorias}} </p>
            <p class="card-text">CAPITULOS : {{serie?.capitulos}}</p>
            <p class="card-text">EMISION : {{serie?.emision}}</p>
            <p class="card-text">SINOPSIS : {{serie?.sinopsis}}</p>
            <div class="container d-flex">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

